@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$white: #ffffff;
$black: #000000;
$darkGrey: #1a1a1a;


html, body, #app {
  height: 100%;
}

body {
  background-color: $black;
  margin: 0;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

a, p, td, th, label {
  font-family: 'Montserrat', sans-serif;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .5s;
}
.slide-fade-enter, .slide-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(-400px);
}

a {
  color: $white;
  text-decoration: none;
}