<div>
  <table class="transactions-table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Description de transaction</th>
      <th>Cryptomonnaie</th>
      <th>Montant</th>
      <th>Cryptomonnaie de destination</th>
      <th>Montant de destinaton</th>
      <th>Devise</th>
      <th>Montant en euros</th>
      <th>Montant en dollars</th>
      <th>Type de transaction</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(transaction, i) in transactions" :key="i">
      <th>{{ transaction.date }}</th>
      <th>{{ transaction.type }}</th>
      <th>{{ transaction.cryptoCurrency }}</th>
      <th>{{ transaction.amount }}</th>
      <th>{{ transaction.toCurrency }}</th>
      <th>{{ transaction.toAmount }}</th>
      <th>{{ transaction.baseCurrency }}</th>
      <th>{{ transaction.baseAmount }}</th>
      <th>{{ transaction.baseUsdtAmount }}</th>
      <th>{{ transaction.transactionKind }}</th>
    </tr>
    </tbody>
  </table>
</div>
