<table class="tracktable">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Cap. Marché</th>
      <th>7 derniers jours</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(cryptoCurrency, i) in cryptoCurrencies" :key="i">
      <td class="tracktable">
        <img class="tracktable--logo" :src="cryptoCurrency.image" :alt="'logo' + cryptoCurrency.symbol">
        <span class="tracktable--symbol">{{ cryptoCurrency.symbol }}</span>
      </td>
      <td>{{ cryptoCurrency.price }}€</td>
      <td>{{ cryptoCurrency.marketCap }}</td>
      <td>
        <ChartVue :id="i" :datas="cryptoCurrency.historical" />
      </td>
    </tr>
    </tbody>
  </table>
