.tracktable{
  width: 100%;

  thead {
    border-top: 1px solid #eff2f5;
    border-bottom: 1px solid #eff2f5;
  }

  &--logo {
    width: 24px;
    vertical-align: middle;
  }

  &--symbol {
    vertical-align: middle;
    font-size: 12px;
    margin-left: 4px;
  }
}