<div :class="['menu', { 'minify' : toggle }]">
  <div class="menu--button" @click="toggleSidebar">
    <p v-if="toggle"> > </p>
    <p v-else><</p>
  </div>
  <div class="menu--logo">
    <h1 v-if="!toggle">Crypto Tracker</h1>
  </div>
  <div class="menu--links">
    <div class="menu--link" @click.prevent="$router.push({ name: 'dashboard' })">
      <img class="menu--link--img" src="@/assets/icon/dashboard.png" alt="">
      <router-link v-if="!toggle" :to="{ name: 'dashboard' }">Dashboard</router-link>
    </div>
    <div class="menu--link" @click.prevent="$router.push({ name: 'wallet' })">
      <img class="menu--link--img" src="@/assets/icon/wallet.png" alt="">
      <router-link v-if="!toggle" :to="{ name: 'wallet' }">Wallet</router-link>
    </div>
    <div class="menu--link" @click.prevent="$router.push({ name: 'transaction' })">
      <img class="menu--link--img" src="@/assets/icon/transaction.png" alt="">
      <router-link v-if="!toggle" :to=" { name: 'transaction' } ">Transactions</router-link>
    </div>
    <div class="menu--link" @click.prevent="$router.push({ name: 'track' })">
      <img class="menu--link--img" src="@/assets/icon/track.png" alt="">
      <router-link v-if="!toggle" :to=" { name: 'track' }">Cours</router-link>
    </div>
    <div class="menu--link">
      <img class="menu--link--img" src="@/assets/icon/user.png" alt="">
      <router-link v-if="!toggle" to="">Gestion du compte</router-link>
    </div>
    <div class="menu--link">
      <img class="menu--link--img" src="@/assets/icon/logout.png" alt="">
      <router-link v-if="!toggle" to="">Déconnexion</router-link>
    </div>
  </div>
</div>
