.menu{
  width: 400px;
  height: 100%;
  border-right: 1px solid rgba(lightgray, 0.3);
  padding: 0 24px;
  box-sizing: border-box;
  margin-right: 30px;
  position: relative;
  transition: all 0.3s;

  &.minify {
    transition: all 0.3s;
    width: 80px;
    padding: 0;


    .menu--links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .menu--link--img {
      margin-right: 0;
    }
  }

  &--button {
    color: $white;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top: 20px;
  }

  &--link {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #272A30;
      transition: all 0.3s;
    }

    &--img {
      width: 20px;
      margin-right: 8px;
    }
  }
}