<div>
  <h1>inscription</h1>

  <form action="">
    <label>Email</label>
    <input type="email" v-model="email">

    <label>Mot de passe</label>
    <input type="password" v-model="password">

    <button @click.prevent="signUp">Connexion</button>
  </form>
</div>