.toast {
  display: flex;
  align-items: center;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: fixed;
  top: 50px;
  padding: 8px;

  &.-success {
    background-color: green;
  }

  &.-error {
    background-color: red;
  }

  &--img {
    margin-right: 8px;
  }

  &--text {
    font-size: 12px;
  }
}