<div class="signin">
  <div class="signin--content">
    <h1 class="signin--title">Connectez-Vous</h1>

    <form class="signin--form" action="">
      <div class="signin--input-group">
        <label>Email</label>
        <input type="email" placeholder="Entrez votre email" v-model="email">
      </div>

      <div class="signin--input-group">
        <label>Mot de passe</label>
        <input type="password" placeholder="Entrez votre mot de passe" v-model="password">
      </div>
      <button class="submit" @click.prevent="signIn">Connexion</button>
    </form>
    <p>Pas encore inscrit ? <router-link :to="{ name: 'signup' }">Inscrivez-vous !</router-link></p>
  </div>
  <div class="signin--img">
    <img src="@/assets/login.jpeg" alt="">
  </div>
</div>