.signin {
  display: flex;
  align-items: center;
  height: 100%;

  &--title {
    color: #ffffff;
  }

  &--content {
    min-width: 350px;
    width: 25%;
    margin: 0 70px;

    p {
      font-size: 12px;
      text-align: center;
    }
  }

  &--form {
    display: flex;
    flex-direction: column;

    .submit {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      display: block;
      width: 120px;
      padding: 12px 0;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: #1a1a1a;
        transition: all 0.3s;
      }
    }
  }

  &--input-group {
    label {
      display: block;
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-size: 12px;
    }

    input {
      background-color: transparent;
      border: 1px solid #ffffff;
      padding: 16px 8px 16px 16px;
      width: 100%;
      color: #ffffff;
      appearance: none;
      outline: none;

      &::placeholder {
        color: #ffffff;
        font-style: italic;
      }
    }
    margin-bottom: 16px;
  }

  &--img {
    width: 70%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}