.wallet-list {
  .wallet-item {
    display: flex;
    align-items: center;
    width: 100%;

    &:nth-child(2n) {
      background-color: black;
    }

    img {
      width: 20px;
      height: 20px;
    }

    &--content {
      display: flex;
      justify-content: space-between;
      margin-left: 32px;
      width: 100%;

      &--name {
        margin-right: 16px;
      }
    }
  }
}