<div class="wallet-page">
  <div class="wallet-informations">
    <p class="wallet-total">
      {{ total }}
    </p>
  </div>

  <div class="wallet-list">
    <div class="wallet-item" v-for="crypto in wallet.crypto" :key="crypto.name">
      <img :src="crypto.logo" alt="">
      <div class="wallet-item--content">
        <p class="wallet-item--content--name">{{ crypto.name }}</p>
        <p class="wallet-item--content--total">{{ crypto.total }}</p>
        <p class="wallet-item--content--value">{{ crypto.value }}</p>
        <p class="wallet-item--content--base">{{ crypto.baseValue }}</p>
      </div>
    </div>
  </div>
</div>